* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: inherit;
}
p {
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

/* BOTÕES GLOBAIS (opcional) */

.btn-link {
    width: 100%;
    max-width: 260px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
    padding: 0.75rem 1.5rem;
    background-color: var(--red);
    color: var(--white);
    border: none;
    border-radius: 12px;
    transition: transform 0.3s ease;
}
.btn-link:hover {
    transform: scale(1.1); }

/* CORES BASE (útil para utilitários) */
:root {
    --green-gsc:#54983d;
    --red-gsc: #c43a22;
    /* Background card --green */
    --white-gsc: #fefefe;

    /* Background --green */
    --green1: #003300;
    --green: #073b22;
    --green2: #0d2e1a;
    
    --red: #d62828;
    --white: #ffffff;
    --link: #3b82f6;
}